{% load static %}

<!-- The Modal -->
<div id="modal-chron" class="modal">
  <!-- Modal content -->
  <div id="box-modal-chron" class="modal-content">
    <p id="text-modal-chron"></p>
    <button id="btnModal-chron" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-mazes" class="modal">
  <!-- Modal content -->
  <div id="modal-box-mazes" class="modal-content">
    <p id="modal-text-mazes"></p>
    <button id="modal-btn-mazes" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-sen" class="modal">
  <!-- Modal content -->
  <div id="box-modal-sen" class="modal-content">
    <p id="text-modal-sen"></p>
    <button id="btnModal-sen" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-ord" class="modal">
  <!-- Modal content -->
  <div id="box-modal-ord" class="modal-content">
    <p id="text-modal-ord"></p>
    <button id="btnModal-ord" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-res" class="modal">
  <!-- Modal content -->
  <div id="box-modal-res" class="modal-content">
    <p id="text-modal-res"></p>
    <button id="btnModal-res" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-sum" class="modal">
  <!-- Modal content -->
  <div id="box-modal-sum" class="modal-content">
    <p id="text-modal-sum"></p>
    <button id="btnModal-sum" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-clas" class="modal">
  <!-- Modal content -->
  <div id="box-modal-clas" class="modal-content">
    <p id="text-modal-clas"></p>
    <button id="btnModal-clas" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-sem" class="modal">
  <!-- Modal content -->
  <div id="box-modal-sem" class="modal-content">
    <p id="text-modal-sem"></p>
    <button id="btnModal-sem" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-fluidez" class="modal">
  <!-- Modal content -->
  <div id="box-modal-fluidez" class="modal-content">
    <p id="text-modal-fluidez"></p>
    <button id="btnModal-fluidez" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-cartas" class="modal">
  <!-- Modal content -->
  <div id="box-modal-cartas" class="modal-content">
    <p id="text-modal-cartas"></p>
    <button id="btnModal-cartas" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-refranes" class="modal">
  <!-- Modal content -->
  <div id="box-modal-refranes" class="modal-content">
    <p id="text-modal-refranes"></p>
    <button id="btnModal-refranes" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-memoria" class="modal">
  <!-- Modal content -->
  <div id="box-modal-memoria" class="modal-content">
    <p id="text-modal-memoria"></p>
    <button id="btnModal-memoria" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-stroop" class="modal">
  <!-- Modal content -->
  <div id="box-modal-stroop" class="modal-content">
    <p id="text-modal-stroop"></p>
    <button id="btnModal-stroop" class="btnModal">Aceptar</button>
  </div>
</div>
<!-- The Modal -->
<div id="modal-create" class="modal">
  <!-- Modal content -->
  <div id="box-modal-create" class="modal-content">
    <p id="text-modal-create"></p>
    <button id="btnModal-create" class="btnModal">Aceptar</button>
  </div>
</div>
