{% extends "banfe-2/base.html" %} {% load static %} {% block content %}

<audio class="alarma_sound" src="{% static 'audios/time_out.mp3' %}"></audio>

<audio class="figure-sound" src="{% static 'audios/click.wav' %}"></audio>

{% include "banfe-2/modal.html" %}
<div id="stroop-B" class="panel-prueba">
  <div class="row info-prueba">
    <div class="col-sm-3 col-md-3 bg-light">
      <div class="sujeto-info">{% include "banfe-2/info-sujeto.html" %}</div>
      <div class="tips-prueba">
        <span>Tips:</span>
        {% include "banfe-2/tips.html" %}
      </div>
    </div>
    <div class="col-sm-9 col-md-9 control">
      <div class="progress">{% include "banfe-2/progress.html" %}</div>

      <div class="video-stroop_B">{% include "banfe-2/ventana.html" %}</div>
      <div class="cinta-opciones">
        <div class="cinta-opciones__mostrar">
          <a class="btn" href="{% url 'stroopB' %}" target="_Blank">
            <i class="fa-solid fa-folder-open"></i>
            Abrir prueba
          </a>
        </div>
        <div class="cinta-opciones__iniciar">
          <button
            id="inicio_stroop_b"
            class="btn"
            onclick="start(300,'segundos_stroop-b','inicio_stroop_b','parar_stroop_b','reiniciar_stroop_b'); enableTable('B',false);"
          >
            <i class="fa-solid fa-flag-checkered"></i>
            Iniciar Prueba
          </button>
        </div>
        <div class="cinta-opciones__adicional">
          <button class="first_child btn invisible" disabled>
            <i class="fa-solid fa-play"></i>
          </button>
          <button
            id="parar_stroop_b"
            class="btn"
            onclick="stoped(); enableTable('B',true);"
            disabled
          >
            <i class="fa-solid fa-stop"></i>
          </button>
          <button
            id="reiniciar_stroop_b"
            class="btn"
            onclick="restart(); resetStroopTest();"
            disabled
          >
            <i class="fa-solid fa-arrow-rotate-left"></i>
          </button>
        </div>
      </div>
      <div class="row overflow-x">
        <div class="time">
          <div class="time__title">
            <p>Tiempo(s)</p>
          </div>
          <div class="time__reloj">
            <b id="segundos_stroop-b">0</b>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table-stroop">
          <tr>
            <th class="first-column">Columna</th>
            <th class="other-columns" rowspan="2" colspan="2">1</th>
            <th class="other-columns" rowspan="2" colspan="2">2</th>
            <th class="other-columns" rowspan="2" colspan="2">3</th>
            <th class="other-columns" rowspan="2" colspan="2">4</th>
            <th class="other-columns" rowspan="2" colspan="2">5</th>
            <th class="other-columns" rowspan="2" colspan="2">6</th>
            <th class="other-columns" rowspan="2" colspan="2">7</th>
          </tr>
          <tr>
            <th>Fila</th>
          </tr>
          <tr>
            <th>1</th>
            <td>Rojo</td>
            <td>
              <button
                id="btn-acierto-1"
                onclick="countCorrect(1)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-1"
                onclick="countErrors('nostroop', 1)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rosa</span>
            </td>
            <td>
              <button
                id="btn-acierto-7"
                onclick="countCorrect(7)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-7"
                onclick="countErrors('stroop', 7)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Azul</td>
            <td>
              <button
                id="btn-acierto-13"
                onclick="countCorrect(13)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-13"
                onclick="countErrors('nostroop', 13)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Café</span>
            </td>
            <td>
              <button
                id="btn-acierto-19"
                onclick="countCorrect(19)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-19"
                onclick="countErrors('stroop', 19)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Negro</td>
            <td>
              <button
                id="btn-acierto-25"
                onclick="countCorrect(25)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-25"
                onclick="countErrors('nostroop', 25)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rosa</span>
            </td>
            <td>
              <button
                id="btn-acierto-31"
                onclick="countCorrect(31)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-31"
                onclick="countErrors('stroop', 31)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rojo</td>
            <td>
              <button
                id="btn-acierto-37"
                onclick="countCorrect(37)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-37"
                onclick="countErrors('nostroop', 37)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>2</th>
            <td>Café</td>
            <td>
              <button
                id="btn-acierto-2"
                onclick="countCorrect(2)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-2"
                onclick="countErrors('nostroop', 2)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Azul</span>
            </td>
            <td>
              <button
                id="btn-acierto-8"
                onclick="countCorrect(8)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-8"
                onclick="countErrors('stroop', 8)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Café</td>
            <td>
              <button
                id="btn-acierto-14"
                onclick="countCorrect(14)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-14"
                onclick="countErrors('nostroop', 14)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Negro</span>
            </td>
            <td>
              <button
                id="btn-acierto-20"
                onclick="countCorrect(20)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-20"
                onclick="countErrors('stroop', 20)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Café</td>
            <td>
              <button
                id="btn-acierto-26"
                onclick="countCorrect(26)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-26"
                onclick="countErrors('nostroop', 26)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Verde</span>
            </td>
            <td>
              <button
                id="btn-acierto-32"
                onclick="countCorrect(32)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-32"
                onclick="countErrors('stroop', 32)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Café</td>
            <td>
              <button
                id="btn-acierto-38"
                onclick="countCorrect(38)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-38"
                onclick="countErrors('nostroop', 38)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>3</th>
            <td>Verde</td>
            <td>
              <button
                id="btn-acierto-3"
                onclick="countCorrect(3)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-3"
                onclick="countErrors('nostroop', 3)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Café</span>
            </td>
            <td>
              <button
                id="btn-acierto-9"
                onclick="countCorrect(9)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-9"
                onclick="countErrors('stroop', 9)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rojo</td>
            <td>
              <button
                id="btn-acierto-15"
                onclick="countCorrect(15)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-15"
                onclick="countErrors('nostroop', 15)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Verde</span>
            </td>
            <td>
              <button
                id="btn-acierto-21"
                onclick="countCorrect(21)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-21"
                onclick="countErrors('stroop', 21)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Verde</td>
            <td>
              <button
                id="btn-acierto-27"
                onclick="countCorrect(27)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-27"
                onclick="countErrors('nostroop', 27)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rojo</span>
            </td>
            <td>
              <button
                id="btn-acierto-33"
                onclick="countCorrect(33)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-33"
                onclick="countErrors('stroop', 33)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Verde</td>
            <td>
              <button
                id="btn-acierto-39"
                onclick="countCorrect(39)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-39"
                onclick="countErrors('nostroop', 39)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>4</th>
            <td>Azul</td>
            <td>
              <button
                id="btn-acierto-4"
                onclick="countCorrect(4)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-4"
                onclick="countErrors('nostroop', 4)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Verde</span>
            </td>
            <td>
              <button
                id="btn-acierto-10"
                onclick="countCorrect(10)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-10"
                onclick="countErrors('stroop', 10)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Verde</td>
            <td>
              <button
                id="btn-acierto-16"
                onclick="countCorrect(16)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-16"
                onclick="countErrors('nostroop', 16)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rojo</span>
            </td>
            <td>
              <button
                id="btn-acierto-22"
                onclick="countCorrect(22)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-22"
                onclick="countErrors('stroop', 22)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rojo</td>
            <td>
              <button
                id="btn-acierto-28"
                onclick="countCorrect(28)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-28"
                onclick="countErrors('nostroop', 28)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Azul</span>
            </td>
            <td>
              <button
                id="btn-acierto-34"
                onclick="countCorrect(34)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-34"
                onclick="countErrors('stroop', 34)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Negro</td>
            <td>
              <button
                id="btn-acierto-40"
                onclick="countCorrect(40)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-40"
                onclick="countErrors('nostroop', 40)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>5</th>
            <td>Negro</td>
            <td>
              <button
                id="btn-acierto-5"
                onclick="countCorrect(5)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-5"
                onclick="countErrors('nostroop', 5)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Negro</span>
            </td>
            <td>
              <button
                id="btn-acierto-11"
                onclick="countCorrect(11)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-11"
                onclick="countErrors('stroop', 11)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rosa</td>
            <td>
              <button
                id="btn-acierto-17"
                onclick="countCorrect(17)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-17"
                onclick="countErrors('nostroop', 17)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rosa</span>
            </td>
            <td>
              <button
                id="btn-acierto-23"
                onclick="countCorrect(23)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-23"
                onclick="countErrors('stroop', 23)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Azul</td>
            <td>
              <button
                id="btn-acierto-29"
                onclick="countCorrect(29)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-29"
                onclick="countErrors('nostroop', 29)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Negro</span>
            </td>
            <td>
              <button
                id="btn-acierto-35"
                onclick="countCorrect(35)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-35"
                onclick="countErrors('stroop', 35)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rosa</td>
            <td>
              <button
                id="btn-acierto-41"
                onclick="countCorrect(41)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-41"
                onclick="countErrors('nostroop', 41)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>6</th>
            <td>Rosa</td>
            <td>
              <button
                id="btn-acierto-6"
                onclick="countCorrect(6)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-6"
                onclick="countErrors('nostroop', 6)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rosa</span>
            </td>
            <td>
              <button
                id="btn-acierto-12"
                onclick="countCorrect(12)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-12"
                onclick="countErrors('stroop', 12)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Negro</td>
            <td>
              <button
                id="btn-acierto-18"
                onclick="countCorrect(18)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-18"
                onclick="countErrors('nostroop', 18)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Azul</span>
            </td>
            <td>
              <button
                id="btn-acierto-24"
                onclick="countCorrect(18)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-24"
                onclick="countErrors('stroop', 24)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rosa</td>
            <td>
              <button
                id="btn-acierto-30"
                onclick="countCorrect(30)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-30"
                onclick="countErrors('nostroop', 30)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Café</span>
            </td>
            <td>
              <button
                id="btn-acierto-36"
                onclick="countCorrect(36)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-36"
                onclick="countErrors('stroop', 36)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Azul</td>
            <td>
              <button
                id="btn-acierto-42"
                onclick="countCorrect(42)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-42"
                onclick="countErrors('nostroop', 42)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="15" class="separador"></td>
          </tr>
          <tr>
            <th>1</th>
            <td>
              <span class="stroop-subrayado">Rojo</span>
            </td>
            <td>
              <button
                id="btn-acierto-43"
                onclick="countCorrect(43)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-43"
                onclick="countErrors('stroop', 43)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Verde</td>
            <td>
              <button
                id="btn-acierto-49"
                onclick="countCorrect(49)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-49"
                onclick="countErrors('nostroop', 49)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rosa</span>
            </td>
            <td>
              <button
                id="btn-acierto-55"
                onclick="countCorrect(55)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-55"
                onclick="countErrors('stroop', 55)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Azul</td>
            <td>
              <button
                id="btn-acierto-61"
                onclick="countCorrect(61)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-61"
                onclick="countErrors('nostroop', 61)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rosa</span>
            </td>
            <td>
              <button
                id="btn-acierto-67"
                onclick="countCorrect(67)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-67"
                onclick="countErrors('stroop', 67)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Verde</td>
            <td>
              <button
                id="btn-acierto-73"
                onclick="countCorrect(73)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-73"
                onclick="countErrors('nostroop', 73)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rojo</span>
            </td>
            <td>
              <button
                id="btn-acierto-79"
                onclick="countCorrect(79)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-79"
                onclick="countErrors('stroop', 79)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>2</th>
            <td>
              <span class="stroop-subrayado">Negro</span>
            </td>
            <td>
              <button
                id="btn-acierto-44"
                onclick="countCorrect(44)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-44"
                onclick="countErrors('stroop', 44)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Café</td>
            <td>
              <button
                id="btn-acierto-50"
                onclick="countCorrect(50)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-50"
                onclick="countErrors('nostroop', 50)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Café</span>
            </td>
            <td>
              <button
                id="btn-acierto-56"
                onclick="countCorrect(56)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-56"
                onclick="countErrors('stroop', 56)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Negro</td>
            <td>
              <button
                id="btn-acierto-62"
                onclick="countCorrect(62)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-62"
                onclick="countErrors('nostroop', 62)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Negro</span>
            </td>
            <td>
              <button
                id="btn-acierto-68"
                onclick="countCorrect(68)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-68"
                onclick="countErrors('stroop', 68)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Café</td>
            <td>
              <button
                id="btn-acierto-74"
                onclick="countCorrect(74)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-74"
                onclick="countErrors('nostroop', 74)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Verde</span>
            </td>
            <td>
              <button
                id="btn-acierto-80"
                onclick="countCorrect(80)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-80"
                onclick="countErrors('stroop', 80)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>3</th>
            <td>
              <span class="stroop-subrayado">Azul</span>
            </td>
            <td>
              <button
                id="btn-acierto-45"
                onclick="countCorrect(45)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-45"
                onclick="countErrors('stroop', 45)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rosa</td>
            <td>
              <button
                id="btn-acierto-51"
                onclick="countCorrect(51)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-51"
                onclick="countErrors('nostroop', 51)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rojo</span>
            </td>
            <td>
              <button
                id="btn-acierto-57"
                onclick="countCorrect(57)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-57"
                onclick="countErrors('stroop', 57)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rosa</td>
            <td>
              <button
                id="btn-acierto-63"
                onclick="countCorrect(63)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-63"
                onclick="countErrors('nostroop', 63)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Azul</span>
            </td>
            <td>
              <button
                id="btn-acierto-69"
                onclick="countCorrect(69)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-69"
                onclick="countErrors('stroop', 69)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rojo</td>
            <td>
              <button
                id="btn-acierto-75"
                onclick="countCorrect(75)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-75"
                onclick="countErrors('nostroop', 75)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Azul</span>
            </td>
            <td>
              <button
                id="btn-acierto-81"
                onclick="countCorrect(81)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-81"
                onclick="countErrors('stroop', 81)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>4</th>
            <td>
              <span class="stroop-subrayado">Café</span>
            </td>
            <td>
              <button
                id="btn-acierto-46"
                onclick="countCorrect(46)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-46"
                onclick="countErrors('stroop', 46)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Azul</td>
            <td>
              <button
                id="btn-acierto-52"
                onclick="countCorrect(52)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-52"
                onclick="countErrors('nostroop', 52)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Verde</span>
            </td>
            <td>
              <button
                id="btn-acierto-58"
                onclick="countCorrect(58)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-58"
                onclick="countErrors('stroop', 58)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Café</td>
            <td>
              <button
                id="btn-acierto-64"
                onclick="countCorrect(64)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-64"
                onclick="countErrors('nostroop', 64)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Negro</span>
            </td>
            <td>
              <button
                id="btn-acierto-70"
                onclick="countCorrect(70)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-70"
                onclick="countErrors('stroop', 70)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Azul</td>
            <td>
              <button
                id="btn-acierto-76"
                onclick="countCorrect(76)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-76"
                onclick="countErrors('nostroop', 76)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rosa</span>
            </td>
            <td>
              <button
                id="btn-acierto-82"
                onclick="countCorrect(82)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-82"
                onclick="countErrors('stroop', 82)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>5</th>
            <td>
              <span class="stroop-subrayado">Verde</span>
            </td>
            <td>
              <button
                id="btn-acierto-47"
                onclick="countCorrect(47)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-47"
                onclick="countErrors('stroop', 47)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Negro</td>
            <td>
              <button
                id="btn-acierto-53"
                onclick="countCorrect(53)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-53"
                onclick="countErrors('nostroop', 53)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Negro</span>
            </td>
            <td>
              <button
                id="btn-acierto-59"
                onclick="countCorrect(59)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-59"
                onclick="countErrors('stroop', 59)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Verde</td>
            <td>
              <button
                id="btn-acierto-65"
                onclick="countCorrect(65)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-65"
                onclick="countErrors('nostroop', 65)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Verde</span>
            </td>
            <td>
              <button
                id="btn-acierto-71"
                onclick="countCorrect(71)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-71"
                onclick="countErrors('stroop', 71)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rosa</td>
            <td>
              <button
                id="btn-acierto-77"
                onclick="countCorrect(77)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-77"
                onclick="countErrors('nostroop', 77)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Negro</span>
            </td>
            <td>
              <button
                id="btn-acierto-83"
                onclick="countCorrect(83)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-83"
                onclick="countErrors('stroop', 83)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th>6</th>
            <td>
              <span class="stroop-subrayado">Rosa</span>
            </td>
            <td>
              <button
                id="btn-acierto-48"
                onclick="countCorrect(48)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-48"
                onclick="countErrors('stroop', 48)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rojo</td>
            <td>
              <button
                id="btn-acierto-54"
                onclick="countCorrect(54)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-54"
                onclick="countErrors('nostroop', 54)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Azul</span>
            </td>
            <td>
              <button
                id="btn-acierto-60"
                onclick="countCorrect(60)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-60"
                onclick="countErrors('stroop', 60)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Rojo</td>
            <td>
              <button
                id="btn-acierto-66"
                onclick="countCorrect(66)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-66"
                onclick="countErrors('nostroop', 66)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Rojo</span>
            </td>
            <td>
              <button
                id="btn-acierto-72"
                onclick="countCorrect(72)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-72"
                onclick="countErrors('stroop', 72)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>Negro</td>
            <td>
              <button
                id="btn-acierto-78"
                onclick="countCorrect(78)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-nostroop-78"
                onclick="countErrors('nostroop', 78)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td>
              <span class="stroop-subrayado">Café</span>
            </td>
            <td>
              <button
                id="btn-acierto-84"
                onclick="countCorrect(84)"
                class="stroop-correcto"
                disabled
              >
                <i class="fa-solid fa-check"></i>
              </button>
              <button
                id="btn-stroop-84"
                onclick="countErrors('stroop', 84)"
                class="stroop-incorrecto"
                disabled
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
        </table>
        <div id="resultados-stroop-B" class="row score-3">
          <div>
            <span>Aciertos</span>
            <div class="score__valor">
              <p id="aciertos_stroop-B">0</p>
            </div>
          </div>
          <div>
            <span>Errores Stroop</span>
            <div class="score__valor">
              <p id="err_stroop-B">0</p>
            </div>
          </div>
          <div>
            <span>Errores no Stroop:</span>
            <div class="score__valor">
              <p id="errno_stroop-B">0</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row footer-menu">
        {% include "banfe-2/menu-footer.html" %}
      </div>

      <script>
        $(document).ready(function () {
          console.log("Accediendo...");
          setInterval(function () {
            $("#resultados-stroop-B").load(displayStroopResults("B"));
          }, 1000);
        });
      </script>

      {% endblock %}
    </div>
  </div>
</div>
