{% extends "principal/base.html" %} {% load static %} {% block content %}

<div class="container bg-light mt-5 p-5 rounded border border-dark border-3">
  <h2 class="fs-3 fw-bold font-monospace text-center">Acerca de APEN</h2>
  <p class="fs-6 font-monospace">
    APEN es una plataforma de evaluación diseñada para automatizar y gestionar
    pruebas cognitivas y psicológicas. Permite a los investigadores y
    profesionales aplicar pruebas estandarizadas y obtener resultados de manera
    eficiente.
  </p>

  <h3 class="fs-5 fw-bold font-monospace">Objetivos</h3>
  <p class="fs-6 font-monospace">
    El objetivo de APEN es facilitar la recolección de datos y la generación de
    informes sobre el rendimiento cognitivo de los usuarios, ayudando a mejorar
    la precisión y velocidad en la evaluación.
  </p>

  <h2 class="fs-5 fw-bold font-monospace">¿A Quién Está Dirigido?</h2>
  <p class="fs-6 font-monospace">
    APEN está diseñado para psicólogos, investigadores, educadores y otros
    profesionales que realizan evaluaciones cognitivas y psicológicas, así como
    para instituciones educativas y de salud.
  </p>

  <h2 class="fs-5 fw-bold font-monospace">Historia</h2>
  <p class="fs-6 font-monospace">
    APEN nació de la necesidad de mejorar el proceso de evaluación cognitiva,
    permitiendo un análisis más rápido y preciso de los resultados de pruebas
    psicológicas en entornos clínicos y educativos.
  </p>

  <h2 class="fs-5 fw-bold font-monospace">Equipo de Desarrollo</h2>
  <p class="fs-6 font-monospace">
    APEN ha sido desarrollado por un equipo de informática y psicología, con el
    objetivo de unir la tecnología y la ciencia para crear una herramienta
    eficiente y precisa.
  </p>

  <h2 class="fs-5 fw-bold font-monospace">Visión a Futuro</h2>
  <p class="fs-6 font-monospace">
    En el futuro, APEN integrará más pruebas cognitivas y mejorará las opciones
    de personalización para ajustarse a las necesidades específicas de
    diferentes tipos de usuarios.
  </p>
</div>

{% endblock %}
