{% load static %}
<html>
  <body>
    <div>
      <span>Aciertos</span>
      <div class="score__valor">
        <p id="successeSignaling">{{aciertos}}</p>
      </div>
    </div>
    <div>
      <span>Perseveraciones</span>
      <div class="score__valor">
        <p id="perseverationSignaling">{{perseveraciones}}</p>
      </div>
    </div>
    <div>
      <span>Omisiones</span>
      <div class="score__valor">
        <p id="omissionSignaling">{{omisiones}}</p>
      </div>
    </div>
    <b id="fin">{{terminar}}</b>
  </body>
</html>
