@import url("https://fonts.googleapis.com/css?family=Monserrat|Monserrat+Alternates|Poppins&display=swap");

.table-laberintos {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  margin-top: 0.3rem;
}

th,
td {
  text-align: center;
  border: 1.8px solid black;
}

th {
  background: #64c27b;
}

td > b {
  margin: 0 10%;
  font-weight: normal;
}

.table-laberintos td > button {
  background-color: #efc;
  width: 2rem;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.18rem;
  margin-bottom: 0.18rem;
}

.table-laberintos td:nth-child(6) button{
  width: 2.2rem;
}

.table-laberintos td button > i {
  padding-top: 0.4vh;
  padding-left: 0.2vw;
  font-size: 2vh;
}

td > button:hover {
  cursor: pointer;
  background: #64c27b;
  color: #dfc;
}

.opciones-time {
  padding-top: 5%;
  margin-top: -2vh;
}

.time-laberinto {
  margin-bottom: 15%;
}

#reiniciar_laberintos > i {
  margin-bottom: 1rem;
}

.labyrinths-options i {
  color: #235a31;
}


@media only screen and (min-width: 1400px) {
  .table-laberintos td > button {
    font-size: 2vh;
  }

  .table-laberintos td button > i {
    padding-top: 0.2vh;
  }

  .table-laberintos td button > i:hover {
    color: rgb(255, 255, 200);
  }
}

@media only screen and (min-width: 1500px) {
  .table-laberintos th,
  td {
    font-size: 2vh;
  }

  .table-laberintos td button > i {
    padding-right: 0.04vw;
  }

  .table-laberintos td button > .fa-play {
    padding-right: 5rem;
  }

  .labyrinths-options button  i {
    margin-left: .48rem;
    margin-top: 0.1rem;
    color: #277c3c;
  }

  .labyrinths-options button:nth-child(2) >  i {
    margin-right: 0.6rem;
  }
}

@media only screen and (min-width: 1700px) {
  td > button {
    font-size: 1.3rem;
  }

  .table-laberintos td button > i {
    padding-top: 0.02vh;
  }

  .labyrinths-options button  i {
    margin-left: .38rem;
  }

  .labyrinths-options button:nth-child(2) >  i {
    margin-left: 0.3rem;
  }
}
