{% extends "banfe-2/base.html" %} {% load static %} {% block content %}

<audio class="alarm_sound" src="{% static 'audios/time_out.mp3' %}"></audio>
<audio class="click-sound" src="{% static 'audios/click.wav' %}"></audio>
{% include "banfe-2/modal.html" %}
<div class="panel-prueba">
  <div class="row info-prueba">
    <div class="col-sm-3 col-md-3 col-lg-3 bg-light">
      <div class="sujeto-info">{% include "banfe-2/info-sujeto.html" %}</div>
      <div class="tips-prueba">
        <span>Tips:</span>
        {% include "banfe-2/tips.html" %}
      </div>
    </div>
    <div class="col-sm-9 col-md-9 control">
      <div class="progress">{% include "banfe-2/progress.html" %}</div>
      <div class="video-laberintos">{% include "banfe-2/ventana.html" %}</div>
      <div class="cinta-opciones">
        <div class="cinta-opciones__iniciar btn-iniciar">
          <button class="btn invisible"></button>
        </div>
        <div class="cinta-opciones__adicional">
          <button class="first_child btn invisible">
            <i class="fa-solid fa-play"></i>
          </button>
          <button class="btn invisible">
            <i class="fa-solid fa-pause"></i>
          </button>
          <button id="resetMazes" class="btn" onclick="resetMazes();" disabled>
            <i class="fa-solid fa-arrow-rotate-left"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <table class="table-laberintos">
            <tr>
              <th>Laberinto</th>
              <th>Toca</th>
              <th>Atraviesa</th>
              <th>Sin salida</th>
              <th>Tiempo</th>
              <th></th>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <button
                  id="dec-touch-1"
                  onclick="decrementError(1,'touch')"
                  disabled
                >
                  -
                </button>
                <b id="touch-1">0</b>
                <button
                  id="inc-touch-1"
                  onclick="incrementError(1,'touch')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-cross-1"
                  onclick="decrementError(1,'cross')"
                  disabled
                >
                  -
                </button>
                <b id="cross-1">0</b>
                <button
                  id="inc-cross-1"
                  onclick="incrementError(1,'cross')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-caught-1"
                  onclick="decrementError(1,'caught')"
                  disabled
                >
                  -
                </button>
                <b id="caught-1">0</b>
                <button
                  id="inc-caught-1"
                  onclick="incrementError(1,'caught')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <b id="time-1">0</b>
              </td>
              <td class="labyrinths-options">
                <button id="start_1" onclick="startMazes()">
                  <i class="fa-solid fa-play"></i>
                </button>
                <button id="finish-1" onclick="stopMazes()" disabled>
                  <i class="fa-solid fa-stop"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <button
                  id="dec-touch-2"
                  onclick="decrementError(2,'touch')"
                  disabled
                >
                  -
                </button>
                <b id="touch-2">0</b>
                <button
                  id="inc-touch-2"
                  onclick="incrementError(2,'touch')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-cross-2"
                  onclick="decrementError(2,'cross')"
                  disabled
                >
                  -
                </button>
                <b id="cross-2">0</b>
                <button
                  id="inc-cross-2"
                  onclick="incrementError(2,'cross')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-caught-2"
                  onclick="decrementError(2,'caught')"
                  disabled
                >
                  -
                </button>
                <b id="caught-2">0</b>
                <button
                  id="inc-caught-2"
                  onclick="incrementError(2,'caught')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <b id="time-2">0</b>
              </td>
              <td class="labyrinths-options">
                <button id="start_2" onclick="startMazes()" disabled>
                  <i class="fa-solid fa-play"></i>
                </button>
                <button id="finish-2" onclick="stopMazes()" disabled>
                  <i class="fa-solid fa-stop"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <button
                  id="dec-touch-3"
                  onclick="decrementError(3,'touch')"
                  disabled
                >
                  -
                </button>
                <b id="touch-3">0</b>
                <button
                  id="inc-touch-3"
                  onclick="incrementError(3,'touch')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-cross-3"
                  onclick="decrementError(3,'cross')"
                  disabled
                >
                  -
                </button>
                <b id="cross-3">0</b>
                <button
                  id="inc-cross-3"
                  onclick="incrementError(3,'cross')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-caught-3"
                  onclick="decrementError(3,'caught')"
                  disabled
                >
                  -
                </button>
                <b id="caught-3">0</b>
                <button
                  id="inc-caught-3"
                  onclick="incrementError(3,'caught')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <b id="time-3">0</b>
              </td>
              <td class="labyrinths-options">
                <button id="start_3" onclick="startMazes()" disabled>
                  <i class="fa-solid fa-play"></i>
                </button>
                <button id="finish-3" onclick="stopMazes()" disabled>
                  <i class="fa-solid fa-stop"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                <button
                  id="dec-touch-4"
                  onclick="decrementError(4,'touch')"
                  disabled
                >
                  -
                </button>
                <b id="touch-4">0</b>
                <button
                  id="inc-touch-4"
                  onclick="incrementError(4,'touch')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-cross-4"
                  onclick="decrementError(4,'cross')"
                  disabled
                >
                  -
                </button>
                <b id="cross-4">0</b>
                <button
                  id="inc-cross-4"
                  onclick="incrementError(4,'cross')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-caught-4"
                  onclick="decrementError(4,'caught')"
                  disabled
                >
                  -
                </button>
                <b id="caught-4">0</b>
                <button
                  id="inc-caught-4"
                  onclick="incrementError(4,'caught')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <b id="time-4">0</b>
              </td>
              <td class="labyrinths-options">
                <button id="start_4" onclick="startMazes()" disabled>
                  <i class="fa-solid fa-play"></i>
                </button>
                <button id="finish-4" onclick="stopMazes()" disabled>
                  <i class="fa-solid fa-stop"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                <button
                  id="dec-touch-5"
                  onclick="decrementError(5,'touch')"
                  disabled
                >
                  -
                </button>
                <b id="touch-5">0</b>
                <button
                  id="inc-touch-5"
                  onclick="incrementError(5,'touch')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-cross-5"
                  onclick="decrementError(5,'cross')"
                  disabled
                >
                  -
                </button>
                <b id="cross-5">0</b>
                <button
                  id="inc-cross-5"
                  onclick="incrementError(5,'cross')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <button
                  id="dec-caught-5"
                  onclick="decrementError(5,'caught')"
                  disabled
                >
                  -
                </button>
                <b id="caught-5">0</b>
                <button
                  id="inc-caught-5"
                  onclick="incrementError(5,'caught')"
                  disabled
                >
                  +
                </button>
              </td>
              <td>
                <b id="time-5">0</b>
              </td>
              <td class="labyrinths-options">
                <button id="start_5" onclick="startMazes()" disabled>
                  <i class="fa-solid fa-play"></i>
                </button>
                <button id="finish-5" onclick="stopMazes()" disabled>
                  <i class="fa-solid fa-stop"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Total</td>
              <td id="total-touch">0</td>
              <td id="total-cross">0</td>
              <td id="total-caught">0</td>
            </tr>
          </table>
        </div>
        <div class="col-md-4 opciones-time">
          <div class="time-laberinto">
            <div class="time__title">
              <p>Tiempo(s)</p>
            </div>
            <div class="time__reloj">
              <b id="seconds_labyrinths">0</b>
            </div>
          </div>
          <div class="tiempo-promedio">
            <div class="tiempo-promedio__title">
              <p>Promedio(s)</p>
            </div>
            <div class="tiempo-promedio__valor">
              <b id="average">0</b>
            </div>
          </div>
        </div>
      </div>
      <div class="row footer-menu">
        {% include "banfe-2/menu-footer.html" %}
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      console.log("Accediendo...");
      setInterval(function () {
        $("#score").load(" #score");
      }, 1000);
    });
  </script>

  {% endblock %}
</div>
