{% extends "banfe-2/pruebas.html" %} {% load static %} {% block content %}

<audio
  class="alarma_sound"
  src="{% static 'audios/tiempo_acabado.mp3' %}"
></audio>
<audio class="figure-sound" src="{% static 'audios/click.wav' %}"></audio>
<audio class="carta_sound" src="{% static 'audios/sonido_carta.mp3' %}"></audio>
<audio class="castigo-0_sound" src="{% static 'audios/puntos_0.ogg' %}"></audio>
<audio class="castigo-2_sound" src="{% static 'audios/puntos_2.ogg' %}"></audio>
<audio class="castigo-3_sound" src="{% static 'audios/puntos_3.ogg' %}"></audio>
<audio class="castigo-5_sound" src="{% static 'audios/puntos_5.ogg' %}"></audio>
<audio class="castigo-8_sound" src="{% static 'audios/puntos_8.ogg' %}"></audio>
<audio
  class="castigo-12_sound"
  src="{% static 'audios/puntos_12.ogg' %}"
></audio>
<audio
  class="incorrecto_sound"
  src="{% static 'audios/sonido_incorrecto.mp3' %}"
></audio>

{% include "banfe-2/modal.html" %}
</div>
<div class="juego-cartas">
  <div>
    <div class="panel-juego-cartas">
      <div id="castigos-1"></div>
      <div id="castigos-2"></div>
      <div id="castigos-3"></div>
      <div id="castigos-4"></div>
      <div id="castigos-5"></div>
    </div>
    <div class="panel-juego-cartas">
      <div class="cartas-castigos" id="menos-1"></div>
      <div class="cartas-castigos" id="menos-2"></div>
      <div class="cartas-castigos" id="menos-3"></div>
      <div class="cartas-castigos" id="menos-4"></div>
      <div class="cartas-castigos" id="menos-5"></div>
    </div>
  </div>
  <div class="line-separator">
    <div class="panel-juego-cartas">
      <div class="cartas-puntos pilas" id="pila-1" onclick="tomarCarta(1)">
        1
      </div>
      <div class="cartas-puntos pilas" id="pila-2" onclick="tomarCarta(2)">
        2
      </div>
      <div class="cartas-puntos pilas" id="pila-3" onclick="tomarCarta(3)">
        3
      </div>
      <div class="cartas-puntos pilas" id="pila-4" onclick="tomarCarta(4)">
        4
      </div>
      <div class="cartas-puntos pilas" id="pila-5" onclick="tomarCarta(5)">
        5
      </div>
    </div>
    <div class="panel-juego-cartas">
      <div id="puntos-1"></div>
      <div id="puntos-2"></div>
      <div id="puntos-3"></div>
      <div id="puntos-4"></div>
      <div id="puntos-5"></div>
    </div>
  </div>
</div>

<script>
  window.setTimeout(function () {
    iniciarCartas();
  }, 5000);
</script>

{% endblock %}
