{% extends "banfe-2/pruebas.html" %} {% load static %} {% block content %}

<audio
  class="alarm_sound-subject"
  src="{% static 'audios/time_out.mp3' %}"
></audio>
<audio class="figure-sound" src="{% static 'audios/click.wav' %}"></audio>
<audio class="card_sound" src="{% static 'audios/card_sound.mp3' %}"></audio>
<audio class="penalty-0_sound" src="{% static 'audios/lose_points-0.ogg' %}"></audio>
<audio class="penalty-2_sound" src="{% static 'audios/lose_points-2.ogg' %}"></audio>
<audio class="penalty-3_sound" src="{% static 'audios/lose_points-3.ogg' %}"></audio>
<audio class="penalty-5_sound" src="{% static 'audios/lose_points-5.ogg' %}"></audio>
<audio class="penalty-8_sound" src="{% static 'audios/lose_points-8.ogg' %}"></audio>
<audio
  class="penalty-12_sound"
  src="{% static 'audios/lose_points-12.ogg' %}"
></audio>
{% include "banfe-2/modal.html" %}
</div>
<div class="juego-cartas">
  <div>
    <div class="panel-juego-cartas">
      <div id="penalties-1"></div>
      <div id="penalties-2"></div>
      <div id="penalties-3"></div>
      <div id="penalties-4"></div>
      <div id="penalties-5"></div>
    </div>
    <div class="panel-juego-cartas">
      <div class="cartas-castigos" id="penalty-1"></div>
      <div class="cartas-castigos" id="penalty-2"></div>
      <div class="cartas-castigos" id="penalty-3"></div>
      <div class="cartas-castigos" id="penalty-4"></div>
      <div class="cartas-castigos" id="penalty-5"></div>
    </div>
  </div>
  <div class="line-separator">
    <div class="panel-juego-cartas">
      <div class="cartas-puntos pilas" id="pile-1" onclick="drawCard(1)">
        1
      </div>
      <div class="cartas-puntos pilas" id="pile-2" onclick="drawCard(2)">
        2
      </div>
      <div class="cartas-puntos pilas" id="pile-3" onclick="drawCard(3)">
        3
      </div>
      <div class="cartas-puntos pilas" id="pile-4" onclick="drawCard(4)">
        4
      </div>
      <div class="cartas-puntos pilas" id="pile-5" onclick="drawCard(5)">
        5
      </div>
    </div>
    <div class="panel-juego-cartas">
      <div id="points-1"></div>
      <div id="points-2"></div>
      <div id="points-3"></div>
      <div id="points-4"></div>
      <div id="points-5"></div>
    </div>
  </div>
</div>

<script>
  window.setTimeout(function () {
    startCardTest();
  }, 5000);
</script>

{% endblock %}
